.consultation{
    .container{
        padding-bottom: 36px;
    }
    max-height: 273px;
    background: rgba(235, 233, 221, .7);
    &_title{
        font-family: Akrobat;
        font-size: 41.5px;
        font-weight: 900;
        line-height: 0.95;
        color: #0f2f43;
        text-transform: uppercase;
        padding-top: 64px;
        text-align: center;
    }
}

