.feed-form{
    margin-top: 36px;
    display: flex;
    height: 70px;
    justify-content: center;
    padding-bottom: 36px;
    
    input{
        height: 70px;
        width: 456px;
        background: #ffffff;
        font-family: Akrobat;
        font-size: 32px;
        font-weight: 300;
        line-height: 0.81;
        text-align: left;
        border: none;
        padding: 0 24px;
        margin-right: 28px ;
        outline: 0;


      /*   &:nth-child(3){
            display: block;
            width: 100%;

        } */
    }
    /* &_mt25{
        margin-top: 25px;
    } */
}
