/* header{
    display: flex;
} */
.subheader{
    .container{
        position: relative;
    }
    margin: 15px 0;
    .col-10{
        height: 44px;
    }
    &_logo{
        width: 210px;
        height: 194px;
        position: absolute;
        left: 0%;
        /* background: #ffff; */
        
        img{
            width: 100%;
            }
    }
/*     &_info{
        display: flex;
        align-items: center;
        height: 44px;
    } */
    &_official{
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: #20191b;
        margin-left: -15px;
        &_lg{
            display: none;
        }
        
        
    }
    &_addr{
        display: flex;
        align-items: center;

    } 
    &_address{
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: #20191b;
        margin-left: 11px;
            }
   &_tel{
        display: flex;
        align-items: center;
    }
    &_call{
        margin-left: 11px;
    }
    &_phone{
        font-size: 23px;
        font-weight: 900;
        line-height: 0.87;
        text-align: left;
        color: #20191b;
        &:hover{
            color: #2c2326;
            text-decoration: none;
        }
    }
    &_phinfo{
        font-size: 22px;
        font-weight: bold;
        line-height: 0.89;
        text-align: left;
        color: #20191b;
    }


}
nav{
    /* left: 0%;
    top: 18px; */
    position: fixed;
    top: 1em;
    /* width: 4em; */
    margin-left: -5em;
    z-index: 999;
}

.hamburger{
		display: block;
        /* left: 8%;
        top: 18px; */
		width: 54px;
        height: 24px ;
        /* position: fixed;
        z-index: 999; */
        cursor: pointer;

		span{
			display: block;
			height: 5px;
			background-color: $main_color;
			margin-top: 4px;
            transition: 0.5s all;
            border-radius: 10px;
        }
		&_active{
			span{
				/* margin-top: -4px; */
				&:nth-child(1){
                    transform: translateY(11px) rotate(-45deg);
                }
				&:nth-child(2){
					display: none;}
				&:nth-child(3){
                    transform: translateY(4px) rotate(45deg);
                }
                }
                }
                &_name{
                    margin-top: 6px;
                    font-family: Akrobat;
                    font-size: 22.5px;
                    font-weight: 900;
                    line-height: 0.8;
                    text-align: left;
                    color: $main_color;
                    &_active{
                        display: none;
                    }
                }
            }

.menu{
    width: 374px;
    height: 228px;
    position: fixed;
    flex-direction: column; /** отображение по-вертикали **/
    justify-content: center;
    align-items: center;
    /* top: 0; */
    top: -100%;
    margin-top: 80px;
    padding-left: 0px;
    transition: 1.6s all;

    
   /*  list-style-image: url('../../img/icons/point.png');
    list-style-position: inside; */ /* */

    /* list-style-type: disc;  */
    /* list-style-position: inside;
    color:#ffffff; */

    /* 
    left: -100%;
    width: 50%;
    height: 100vh; */
    
    background-color: rgba(15, 47, 67, .9);
    transition: 0.6s all;
    &_active {
        list-style-type: none;
}

/*     list-style-image: url("../../img/icons/point.png") /* 0 50% no-repeat */;
    /* list-style-type: none;
    padding-left: 12px; */
    /* list-style-position: inside; */

   
   

&_active{
    left: 0;
    position: absolute;
    z-index: 1;
  } 
&_item{
    height: 57px;
    padding: 15px 0 15px 45px;
    border-bottom: 2px solid #ffffff;
    position: relative;
    img{
        position: absolute;
        top: calc(50% - 8px);
        opacity: 0;
        
    }
    &:hover img{
        opacity: 1;
    }
   
   
}

  &_link{
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    text-align: right;
    color: #ffffff;
    padding-left: 20px;
}
}
/* li{
    background: url("../../img/icons/point.png") 0 50% no-repeat;
    list-style-type: none;
    padding-left: 12px;
    list-style-position: inside;
} */
 a:hover{
    color:#ffffff;
    
}
.mobile_phone_sm{
    display: none;

}


    





