.opinion{
    .container{
        margin-bottom: 71px;
    }
    &__descr{
        display: flex;
        margin-top: 70px;
        img{
            width: 169px;
            height: 169px;
            border-radius: 100%;
          }
        }
    &__content{
        margin-left: 62px;

    }
    &__name{
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #0d0d0d;
    }
    &__subheader{
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #646464;
        margin-top: 10px;
    }
    &__header{
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
        margin-top: 19px;
    }
    }
hr {
    background-color: #e8e8e8;
    border-bottom: none;
    margin: 49px 0;
    }
